#busquedaAvanzada{
    display: none;
}
#desplegable{
    display: none;
}

#avanzada{
    position: relative;
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    left:2%;
    top:5%;
}

#opciones{
    position: relative;
    left:10%;
    top: 10px;
}

div{
    position: relative;
    top:10px;
    left:10%;
    width: 70%;
}
 #boton{
    position: relative;
    top:10px;
    left:5%;
    width: 70%;
 }