<ion-header>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Boton de logout-->
  <ion-content padding>
    <ion-list>
      <ion-item-sliding *ngFor="let profile of profileRooms">
        <ion-item lines="inset" button [routerLink]="['/teacher-profile', profile.id]">
          <ion-avatar slot="start">
            <ion-img [src]="profile.img"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2><b>{{ profile.name }} </b></h2>
            <p>{{ profile.precio }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="remove(item)" color="secondary">
            remove
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ion-content>
  <ion-list lines="none">
    <ion-button expand="block" routerLink="/teacher-profile" class="bt_inicio">CONTACTAR</ion-button>
  </ion-list>

</ion-content>