<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="none">
  <ion-item>
      <h1>Nombre</h1>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="todo.name"></ion-input>
      </ion-item>
    <ion-item>
      <h1>Apellidos</h1>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="todo.firstName"></ion-input>
      </ion-item>
		<ion-item>
			<h1>Biografia</h1>
		</ion-item>
		<ion-item>
      <ion-input [(ngModel)]="todo.biografia"></ion-input>
		</ion-item>
		<ion-item>
			<h1>Detalles</h1>
		</ion-item>
		<ion-item>
      <ion-input [(ngModel)]="todo.detalles"></ion-input>
		</ion-item>
		<ion-item>
			<h1>Asignaturas</h1>
		</ion-item>
		<ion-item>
      <ion-input [(ngModel)]="todo.asignaturas"></ion-input>
		</ion-item>
		<ion-item>
			<h1>Formas de Pago</h1>
		</ion-item>
		<ion-item>
        <ion-input [(ngModel)]="todo.pago"></ion-input>
      </ion-item>
		<ion-item>
			<h1>Localidad</h1>
		</ion-item>
		<ion-item>
        <ion-input [(ngModel)]="todo.localidad"></ion-input>
      </ion-item>
    <ion-item>
      <h1>Precio</h1>
    </ion-item>
		<ion-item>
      <ion-input [(ngModel)]="todo.precio"></ion-input>
		</ion-item>
	</ion-list>
  <ion-button expand="block" (click) = "saveTodo()"> Guardar </ion-button>
</ion-content>