<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      
  <ion-item>
    <ion-label position = "floating">Nombre:</ion-label>
    <ion-input [(ngModel)] = "profile.name"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Apellido:</ion-label>
    <ion-input [(ngModel)] = "profile.firstName"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Biografia:</ion-label>
    <ion-input [(ngModel)] = "profile.biografia"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Detalles:</ion-label>
    <ion-input [(ngModel)] = "profile.detalles"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Asignaturas:</ion-label>
    <ion-input [(ngModel)] = "profile.asignaturas"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Forma de pago:</ion-label>
    <ion-input [(ngModel)] = "profile.pago"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Precio por hora:</ion-label>
    <ion-input [(ngModel)] = "profile.precio"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">Localidad:</ion-label>
    <ion-input [(ngModel)] = "profile.localidad"></ion-input>
    </ion-item>
  
        <ion-button expand = "block" > Guardar </ion-button>
  
  </ion-content>