<ion-app>
  <link href='https://fonts.googleapis.com/css?family=Montserrat: 400, 700, 800' rel='stylesheet'>
  <ion-split-pane>

    <ion-menu>
      <ion-content class="fondo">
        <ion-list class="fondo">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" class="fondo">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" class="fondo">
              <ion-icon slot="start" [name]="p.icon" class="fondo icono"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" class="fondo">
            <ion-item [routerDirection]="" [routerLink]="" class="fondo">
              <ion-icon slot="start" name="exit" class="fondo icono"></ion-icon>
              <ion-label (click)="Onlogout()">
                Cerrar Sesion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>