<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil de "X"</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label position="floating">Nombre: {{todo.name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido: {{todo.firstName}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Biografia: {{todo.biografia}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Detalles: {{todo.detalles}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Asignaturas: {{todo.asignaturas}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Forma de pago: {{todo.pago}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio por hora: {{todo.precio}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Localidad: {{todo.localidad}}</ion-label>
  </ion-item>


  <ion-list lines="none">
      <ion-button expand = "block" routerLink="/chat" class="bt_inicio">Chat</ion-button>
  </ion-list>
</ion-content>
