
  <ion-content>
    
    <ion-button expand = "block" id="flecha" routerLink="/home">
			<ion-icon style="color:white; font-size: 25px" name="arrow-round-back"></ion-icon>
		</ion-button>
      <ion-item  class="registro" lines="none">
          <ion-label position = "floating"> Correo electrónico: </ion-label>
          <ion-input type = "text" name = "email" [(ngModel)]="email"></ion-input>
          </ion-item>
          
      <ion-item class="registro" lines="none">
          <ion-label position = "floating"> Contrase&ntilde;a: </ion-label>
          <ion-input type = "password" name = "password"  [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item id="profesor" lines="none">
                <ion-label>Profesor</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="checked"></ion-checkbox>
      </ion-item>
      
      <ion-button expand = "block" (click)="OnRegister()">  Registrarse </ion-button>
  
  
         
  </ion-content>
