
ion-list{
    margin: 16px 16px;
    background: #FF8F8F;
    border-radius: 10px;
}

ion-item{
    margin:20px 20px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    --background: #FF8F8F;
}
ion-searchbar{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #FF473A;
    border:#FF473A;
}