<ion-app id="back" >

<ion-content >
		<h1>BUSCA TU PROFE</h1>
		<h4>Aprende y disfruta</h4>

	<div id="loading">
	<ion-item>
	<ion-label position = "floating"> Correo electronico: </ion-label>
	<ion-input type = "text" name = "email" [(ngModel)]="email"></ion-input>
	</ion-item>

	<ion-item>
	<ion-label position = "floating"> Contrase&ntilde;a: </ion-label>
	<ion-input type = "password" name = "password"  [(ngModel)]="password"></ion-input>
	</ion-item>
	</div>
	<p id="forgot">Olvidaste la contraseña</p>
	<br>
	<div id="login">
	<ion-button expand = "block" (click)="OnSubmitLogin()" id="loginbutton"> Entrar </ion-button>
	<p> Registrarse </p>
	</div>

</ion-content>
</ion-app>