<ion-content>

	<h1>BUSCA TU PROFE</h1>
	<h4>Aprende y disfruta</h4>
  
	<ion-item id="loading">
		<ion-label  position = "floating" > Correo electronico: </ion-label>
		<ion-input type = "text" name = "email" [(ngModel)]="email"></ion-input>
	</ion-item>

	<ion-item id="loading">
		<ion-label position = "floating" > Contrase&ntilde;a: </ion-label>
		<ion-input type = "password" name = "password"  [(ngModel)]="password"></ion-input>
	</ion-item>

	<br>
	<div id="login">
		<ion-button expand = "block" (click)="OnSubmitLogin()"> Entrar </ion-button>
		<ion-button expand = "block" (click)="OnRegister()"> Registrarse </ion-button>
	</div>
</ion-content>
