.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-input{
  background-color:rgba(255, 255, 255, 0.219);
}
#loading{
  position: relative;
  width: calc(50%);
  height: calc(10%);
  font-weight: bold;
  top:22%;
  left:25%;
  --background:transparent;
}
h4{
  position: relative;
  width: calc(50%);
  height: calc(10%);
  left: 25%;
  top: 21%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: rgb(116, 113, 113);
}

h1{
  position: relative;
  width: calc(50%);
  height: calc(10%);
  left: 25%;
  top: 18%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  color: #FF4949;
}

#login{
  position: relative;
  width: calc(50%);
  height: calc(10%);
  font-weight: bold;
  top:24%;
  left:25%;
}

ion-content {
  --background:url(libro-veneno-codigo--930x600.png)no-repeat center center / cover;;
  }

