<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      NOMBRE ALUMNO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  	<ion-list lines="none">
        <ion-item>
          <b>Nombre: </b>
        </ion-item>
        <ion-item>
          <b>Apellidos: </b>
        </ion-item>
        <ion-item>
          <b>Fecha de Nacimiento: </b>
        </ion-item>
        <ion-item>
          <b>Dirección: </b>
        </ion-item>
        <ion-item>
          <b>Teléfono: </b>
        </ion-item>
    </ion-list>
    <ion-label>
        <p class="center"><b>Cambiar Contraseña</b></p>
    </ion-label>
    <ion-button expand="block">Editar</ion-button>
</ion-content>
