<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      NOMBRE ALUMNO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  	<ion-list lines="none">
        <ion-item>
          <b>Nombre: </b>&nbsp; Guillermo
        </ion-item>
        <ion-item>
          <b>Apellidos: </b>&nbsp; López
        </ion-item>
        <ion-item>
          <b>Fecha de Nacimiento: </b>&nbsp; 30-02-08
        </ion-item>
        <ion-item>
          <b>Dirección: </b>&nbsp; Calle la mora nº 6
        </ion-item>
        <ion-item>
          <b>Teléfono: </b>&nbsp; 654323121
        </ion-item>
    </ion-list>
    <div class="ion-text-center">
        <b>Cambiar Contraseña</b>
    </div>
    <ion-button expand="block"><b>Editar</b></ion-button>
</ion-content>
