<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      NOMBRE ALUMNO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  	<ion-list lines="none">
        <ion-item>
          <b>Nombre: </b> PruebaNombre
        </ion-item>
        <ion-item>
          <b>Apellidos: </b> PruebaApellidos
        </ion-item>
        <ion-item>
          <b>Fecha de Nacimiento: </b> PruebaFecha
        </ion-item>
        <ion-item>
          <b>Dirección: </b> PruebaDirecc
        </ion-item>
        <ion-item>
          <b>Teléfono: </b> PruebaTelf
        </ion-item>
    </ion-list>
    <div class="ion-text-center">
        <b>Cambiar Contraseña</b>
    </div>
    <ion-button expand="block"><b>Editar</b></ion-button>
</ion-content>
